*.bam
*.bam.bai
*.bw
*.bedGraph
*.bedgraph
*.gz
*.gct
*.tar
*.gtf
GTEx_v8_finemapping_CAVIAR/
*.xlsx
*error
*out
*hic
*fa
*bb
mane.bed
*gene.bed
*tss.bed
*log
*.txt
runfile.sh
*.pdf
*.png
bigWigToBedGraph
bigBedToBed
juicer_tools_2.13.06.jar
ABC-Enhancer-Gene-Prediction/
*.narrowPeak
*.narrowPeak.sorted
*.xls
*summits.bed
*candidateRegions.bed
*Counts.bed
*EnhancerList_act.bed
*EnhancerList.bed
*GeneList.bed
*GeneList.TSS1kb.bed
*.bedpe
*promoters.bed
*promotersTargets.bed
*enhancers.bed
*enhancersTargets.bed
